body {
    font-family: Arial;
    background: #0f172a;
    color: white;
    margin: 0;
}

.card {
    width: 350px;
    margin: 120px auto;
    background: #111827;
    padding: 30px;
    border-radius: 12px;
}

input, button {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
}

button {
    background: #2563eb;
    color: white;
    border: none;
    cursor: pointer;
}

.dashboard {
    padding: 20px;
}

.cover {
    width: 100%;
    border-radius: 12px;
}

.metrics {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.box {
    flex: 1;
    background: #1f2933;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.danger { background: #7f1d1d; }
.safe { background: #064e3b; }

.warning {
    margin-top: 20px;
    padding: 15px;
    background: #020617;
    border-radius: 8px;
}
